*.o
*.d
*.a
*.so
*.ko
*.cmd

*.ngc

*.mod.c

reg_defines_*.pm

registers.v
reg_defines.h
src_coregen/

nf2_top*


lib/C/download/nf_download
lib/C/kernel/.tmp_versions/
lib/C/kernel/Module.symvers
lib/C/kernel/modules.order
lib/C/reg_access/regread
lib/C/reg_access/regwrite
lib/C/tools/nf_info/nf_info

projects/cpci/lib/

projects/reference_router/lib/C/
projects/reference_router/sw/cli
projects/reference_router/sw/regdump
projects/reference_router/sw/show_stats

projects/router_buffer_sizing/sw/monitor_ctrl
projects/router_buffer_sizing/sw/rcv_evts

projects/router_kit/sw/common
projects/router_kit/sw/rkd

projects/scone/sw/scone

projects/selftest/lib/C/
projects/selftest/sw/bad_pkt_dump
projects/selftest/sw/selftest

projects/packet_generator/lib/
projects/packet_generator/sw/regdump
projects/packet_generator/synth/netlist.lst
projects/packet_generator/synth/smartpreview.twr
projects/packet_generator/synth/synth.txt
projects/packet_generator/synth/xlnx_auto_0.ise
projects/packet_generator/synth/xlnx_auto_0_xdb/
projects/packet_generator/synth/xst/
